.bsd {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yeet {
  width: 25vw;
}
.asd {
  width: 25vw;
}
.reg_btn {
  margin-top: 100%;
  /* cursor: pointer; */
}

@media screen and (max-width: 768px) {
  .asd {
    width: 50vw;
  }
  .yeet {
    width: 100%;
  }
}
